<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Miguel Estuardo Coloma Castro</h2>
            <p class="mb-4">He trabajado creando soluciones para distintas necesidades de clientes de la empresa, utilizando herramientas API, Office 365, Power Bi. Con conocimientos en programacion orientada a objetos en Java, C++ y C#, conocimientos en Angular, MySQL, Postgres SQL, javascript, DDL, documentación de proyectos, diagramas de clases y ER, Servidores de aplicaciones, GIT, parte de mi conocimiento por mi trabajo y por estudios de ingeniería realizando distintos proyectos. Capaz de trabajar bajo presión de una manera responsable. Actualmente trabajo utilizando la metodología Scrum y 4DX habiendo recibido capacitaciónes de dichas metodologías.</p>
            <p></p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="assets/foto-perfil.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="assets/programming.png" alt="office content 2">
        </div>
    </div>   
    <div>
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
                <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Tecnologías</h2>
                    </div> 
                <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/tailwind.png" alt="Tailwind">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">Tailwind</a>
                            </h3>
                            <span class="text-gray-500 dark:text-gray-400">CEO & Web Developer</span>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/C++.png" alt="C++">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">C++</a>
                            </h3>
                            <span class="text-gray-500 dark:text-gray-400">CTO</span>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/Git.png" alt="Git">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">Git</a>
                            </h3>
                            <span class="text-gray-500 dark:text-gray-400">Senior Front-end Developer</span>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/java.png" alt="Java">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a href="#">Java</a>
                            </h3>
                            <span class="text-gray-500 dark:text-gray-400">Marketing & Sale</span>
                        </div>
                    </div>  
                </div>  
            </div>
          </section>
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
                <div class="max-w-screen-md mb-8 lg:mb-16">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Habilidades Técnicas</h2>
                </div>
                <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Tailwind</h3>
                        <p class="text-gray-500 dark:text-gray-400">Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">C++</h3>
                        <p class="text-gray-500 dark:text-gray-400">Protect your organization, devices and stay compliant with our structured workflows and custom permissions made for you.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Business Automation</h3>
                        <p class="text-gray-500 dark:text-gray-400">Auto-assign tasks, send Slack messages, and much more. Now power up with hundreds of new templates to help you get started.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Finance</h3>
                        <p class="text-gray-500 dark:text-gray-400">Audit-proof software built for critical financial operations like month-end close and quarterly budgeting.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Enterprise Design</h3>
                        <p class="text-gray-500 dark:text-gray-400">Craft beautiful, delightful experiences for both marketing and product with real cross-company collaboration.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Operations</h3>
                        <p class="text-gray-500 dark:text-gray-400">Keep your company’s lights on with customizable, iterative, and structured workflows built for all efficient teams and individual.</p>
                    </div>
                </div>
            </div>
          </section>
    </div>
</section>