<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl md:grid md:grid-cols-2 md:py-16 md:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Miguel Estuardo Coloma Castro</h2>
            <p class="mb-4">He trabajado creando soluciones para distintas necesidades de clientes de la empresa, utilizando herramientas API, Office 365, Power Bi. Con conocimientos en programacion orientada a objetos en Java, C++ y C#, conocimientos en Angular, MySQL, Postgres SQL, javascript, DDL, documentación de proyectos, diagramas de clases y ER, Servidores de aplicaciones, GIT, parte de mi conocimiento por mi trabajo y por estudios de ingeniería realizando distintos proyectos. Capaz de trabajar bajo presión de una manera responsable. Actualmente trabajo utilizando la metodología Scrum y 4DX habiendo recibido capacitaciónes de dichas metodologías.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="assets/foto-perfil.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="assets/programming.png" alt="office content 2">
        </div>
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
                <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Tecnologías y Herramientas</h2>
                    </div> 
                <div class="grid gap-8 mb-6 lg:mb-16 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2">
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/tailwind.png" alt="Tailwind">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>Tailwind</a>
                            </h3>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/C++.png" alt="C++">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>C++</a>
                            </h3>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/Git.png" alt="Git">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>Git</a>
                            </h3>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/JS.png" alt="Javascript">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>JavaScript</a>
                            </h3>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/power-automate.png" alt="PAutomate">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>Power Automate</a>
                            </h3>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/Angular_gradient.png" alt="Angular">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>Angular</a>
                            </h3>
                        </div>
                    </div>  
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/DBeaver.png" alt="Dbeaver">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>DBeaver</a>
                            </h3>
                        </div>
                    </div> 
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                        <a>
                            <img class="rounded-lg sm:rounded-none sm:rounded-l-lg w-20 h-20" src="assets/java.png" alt="Java">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <a>Java</a>
                            </h3>
                        </div>
                    </div> 
                </div>  
            </div>
          </section>
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
                <div class="max-w-screen-md mb-8 lg:mb-16">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Habilidades Técnicas</h2>
                </div>
                <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Automatizacion</h3>
                        <p class="text-gray-500 dark:text-gray-400">Capaz de diseñar procesos automatizados con Power Automate, esto para agilizar distintos procesos en mi trabajo.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Programación</h3>
                        <p class="text-gray-500 dark:text-gray-400">He obtenido experiencia y conocimientos programando en Java, C++, C# y Python.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Bases de Datos</h3>
                        <p class="text-gray-500 dark:text-gray-400">Tanto en lo laboral como en los estudios he adquirido conocimientos sobre bases de datos.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Flujo de procesos</h3>
                        <p class="text-gray-500 dark:text-gray-400">Capacidad para analizar los distintos procesos en una empresa para poder diseñar un diagrama que permita entender facilmente dicho proceso.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Office 365</h3>
                        <p class="text-gray-500 dark:text-gray-400">Conocimientos amplios de herramientas office 365, Sharepoint, Forms, Planner, Power Automate, Excel, etc.</p>
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">Montaje de Computadoras</h3>
                        <p class="text-gray-500 dark:text-gray-400">Tengo la capacidad y conocimientos para armar una computadora, eligiendo cada componente de manera que sean compatibles y ensamblarla de cero.</p>
                    </div>
                </div>
            </div>
          </section>
    </div>
</section>